.header-container {
  display: flex;
  justify-content: space-between; /* separa el título a la izquierda y el carrito a la derecha */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  
}

.header-cart {
  display: flex;
  align-items: center;
}

.cart-button {
  position: relative;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-button:hover {
  color: #007bff;
}

.cart-icon {
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

.cart-text {
  font-weight: 500;
}

.cart-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #006400;
  border-radius: 50%;
  animation: pop-in 0.4s ease-out;
}

@keyframes pop-in {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.logout-button {
background-color: transparent;
border: 1px solid #aaa;
padding: 0.4rem 0.8rem;
border-radius: 4px;
cursor: pointer;
font-size: 0.9rem;
color: #ffffff;
transition: background-color 0.3s ease;
}

.logout-button:hover {
background-color: #f44336;
color: white;
border-color: #f44336;
}

.vertical-separator {
  height: 24px;
  width: 1px;
  background-color: #ccc;
  margin: 0 1rem;
}

.provider-button {
background-color: transparent;
border: 1px solid #aaa;
padding: 0.4rem 0.8rem;
border-radius: 4px;
cursor: pointer;
font-size: 0.9rem;
color: #ffffff;
transition: background-color 0.3s ease;
}

.provider-button:hover {
background-color: #3678f4;
color: white;
border-color: #3678f4;
}

.history-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #006400;
  border-radius: 50%;
  animation: pop-in 0.4s ease-out;
}

.order-indicator {
  display: inline-block;
  margin-left: 6px;
  width: 10px;
  height: 10px;
  background-color: #006400;
  border-radius: 50%;
  animation: pop-in 0.4s ease-out;
}

@keyframes pop-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: #ffffff;
  font-weight: 600;
  gap: 0.4rem;
  cursor: default;
}

.user-icon {
  font-size: 1.4rem;
  color: #ffffff;
}

.user-name {
  font-size: 1rem;
}
